body {
    background-color:#171717;
    font-family: 'Gilam';
    font-style: normal;
}

.container {
    width: 1920px;
    margin: auto;
    background-color: #171717;
}

/*--- header--- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1460px;
    margin: auto;
    margin-top: 37px;
}

.callback-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
}

.phone {
    width: 13px;
    height: 13px;
}

.header-btn-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #E4B564;
    text-decoration: none;
    margin-left: 10px;
}

/* Main grid number 1*/

.types {
    width: 1460px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 161px;
}

.types-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.types-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
    width: 1182px;
    margin-bottom: 41px;
}

/* grids-first */

.types-grid {
    display: grid;
    height: 963px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 27px;
    
}

.type {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    padding-top: 220px;
    padding-bottom: 220px;
}

.types-1 {
    background-color: #634F2C;
    grid-column: 1 / 3;
    width: 464px;
}

.types-2 {
    background-color: #B4A385;
    grid-column: 3 / 5;
    width: 464px;

}

.types-3 {
    background-color: #E4B564;
    grid-column: 5 / 7;
    width: 464px;
}

.types-4 {
    background-color: #635A4A;
    grid-column: 1 / 4;
    width: 715px;
}

.types-5 {
    background-color: #B08C4D;
    grid-column: 4 / 7;
    width: 715px;
}


/* grid-second*/

.mashines {
    width: 1460px;
    margin: auto;
    margin-bottom: 191px; 
}

.mashines-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;
    color: #FFFFFF;
    margin-bottom: 94px;
}

.mashines-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 897px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.mashine {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 52px;
    padding-left: 44px;
}

.mashine-1 {
    background-color: #0e0e0e;
    grid-area: 1 / 1 / 3 / 2; 
}

.mashine-2 {
    background-color: #242424;
    grid-area: 1 / 2 / 4 / 3;
}

.mashine-3 {
    background-color: #1f1f1f;
    grid-area: 1 / 3 / 3 / 4;
}

.mashine-4 {
    background-color: #1f1f1f;
    grid-area: 3 / 1 / 7 / 2;
}

.mashine-5 {
    background-color: #E4B564;
    grid-area: 4 / 2 / 7 / 3;
}

.mashine-6 {
    background-color: #0e0e0e;
    grid-area: 3 / 3 / 5 / 4;
}

.mashine-7 {
    background-color: #0e0e0e;
    grid-area: 5 / 3 / 7 / 4;
}

/* Projects */

.clients-container {
    width: 1920px;
    background-color: #0E0E0E;
}

.clients {
    width: 1460px;
    height: 1054px;
    background-color: #0e0e0e;
    margin: auto;
    margin-bottom: 238px;

}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 161px;
    margin-bottom: 60px;
}

.clients-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;
    color: #FFFFFF;

}

.clients-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
    padding: 10px 40px;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    text-align: center;
}

.job-1 {
    background-color: #634F2C;
    padding-top: 165px;
}
.job-2 {
background-color: #E8D2ABC2;
    padding-top: 60px;
}
.job-3 {
    background-color: #E4B564;
        padding-top: 170px;
}
.job-4 {
background-color: #635A4A;
    padding-top: 170px;
}
.job-5 {
background-color: #B08C4D;
    padding: 169px 183px;
}
.job-6 {
background-color: #634F2C;
    padding-top: 165px;
}

.options-job {
    font-weight: 600;
        font-size: 22px;
        line-height: 1.27;
        text-align: center;
        color: #FFFFFF;
}
